.first{background-color: lightslategray;
	text-align: right; 
	font-size: 20px;
	padding-top: 10px;

	

}

.second{
	background-color: lightgrey;
	text-align: center;
	border: 0.1px solid; 
	border-color: grey;
	padding-top: 10px;
	font-size: 20px;

}	

.same{
	background-color: coral;
	text-align: center;
	border: 0.1px solid; 
	border-color:lightcoral;
	padding-top: 10px;
	font-size: 20px;

}