
body{
	background-color: lavenderblush;
}

.header{
	display: flex;
}

	
}

#writing{
	margin-top: 20px;
	margin-left: 300px;
}


.real{
	background-color: green;
	width: 800px;
	height: 80px;
	margin-top: 20px;
	margin-left: 300px;

}


.first{
	background-color: white;
	width: 400px;
	height: 80px;
	margin-top: 20px;
}

.one{
	background-color: ;
	width: 1000px;
	height: 80px;
	display: flex;
	margin-top: 20px;
}

#on{
	background-color: red ;
	width: 350px;
	height: 80px;
	border-radius: 10px 50px 50px 10px;
	padding-top: 20px;
	padding-left: 20px;
	color: white;

}

#two{
	background-color: white ;
	width: 300px;
	height: 80px;
	border-radius: 0px 50px 50px 0px;
	padding-top: 20px;
	padding-left: 20px;
	color: dimgray;

}

#three{
	background-color: green ;
	width: 280px;
	height: 80px;
	border-radius: 0px 10px 10px 0px;
	padding-top: 20px;
	padding-left: 20px;
	color: white;

}




#ond{
	background-color: red ;
	color: white;
	width: 350px;
	height: 80px;
	border-radius: 0px 50px 50px 0px;
	padding-left: 40px;
	padding-top: 10px;


}